<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Update Todo</title>
</head>
<body>
    <div class="container">
        <h1>Update Todo</h1>
        <form action="/<%= todo._id %>" method="POST" autocomplete="off">
            <input type="text" placeholder="Update todo..." name="todoValue" value="<%= todo.todo %>" required>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>